body{
  background-color: #bff0e7;
}

.new_project_form{
  left:200px;
}


.page_title {
  font-family: 'Amatic SC', cursive;
  font-size: 55pt;
  text-align: center;
  width: 70%;
  color: rgb(122,200,275);
  margin-top: 15px;
  margin-bottom: 25px;
}

.form {
  margin: 0 auto;
  left: 25%;
}

.name{
  width: 300px;
}

.input{
  margin-bottom: 20px;
}

#audiofield{
  padding-bottom: 20px;
}

#numDancers{
  width: 75px;
}

